* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #010758, #490d61);
    flex-direction: column;
}

.hero h1 {
    width: 50%;
    color: white;
    font-size: 45px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
}

h1 span {
    color: rgb(243, 80, 80);
    text-decoration: underline white;
}

textarea {
    height: 200px;
    width: 45%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    resize: none;
    background-color: rgb(88, 88, 179);
}

textarea::placeholder {
    color: white;
    font-size: 16px;
}

.bottomdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

select {
    flex: 1;
    margin-right: 30px;
    appearance: none;
    background-color: rgb(88, 88, 179);
    width: 70%;
    height: 35px;
    padding: 0 20px;
    padding-right: 24px;
    border: none;
    outline: none;
    color: white;
    border-radius: 40px;
    background-image: url(./images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 11px;
    background-position-x: 95%;
    background-position-y: 10px;

}

button {
    background-color: rgb(243, 80, 80);
    width: 25%;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button img {
    width: 13%;
    margin-right: 10%;
}

@media (max-width: 643px) {
    .hero h1 {
        width: 60%;
    }

    textarea {
        width: 55%;
    }

    .bottomdiv {
        width: 55%;
    }

    select {
        width: 80%;
    }

}

@media (max-width: 539px) {
    .hero h1 {
        width: 70%;
        font-size: 36px;
    }

    .bottomdiv {
        width: 70%;
    }

    textarea {
        width: 72%;
    }

    select {
        width: 90%;
        margin-right: 10px;
    }

    button {
        width: 35%;
    }
}

@media (max-width: 340px) {
    .hero h1 {
        width: 80%;
    }

    textarea {
        width: 70%;
        height: 150px;
        background-size: 10px;
        background-position-y: 45px;
    }

    .bottomdiv {
        width: 72%;
    }
}

@media (max-width: 285px) {
    .hero h1 {
        width: 90%;
    }

    textarea {
        width: 75%;
    }

    .bottomdiv {
        width: 75%;
    }
}